.cvReviewHistoryTitle {
  font: var(--font-m);
  color: var(--white-text-color) !important;
}

.cvReviewHistoryWrapper {
  margin-top: 15px;
}

.cvReviewHistoryPaginationWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
