.knowledgesListWrapper {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.knowledgesListCardWrapper {
  height: fit-content;
  min-width: 300px;
}

.knowledgesListText {
  font: var(--font-m);
  color: var(--white-text-color);
}

.knowledgesListCollapseWrapper {
  font: var(--font-m);

  :global {
    .ant-collapse-item {
      margin-top: 10px;
      border: none;
    }

    .ant-collapse-header {
      padding: 0 !important;
    }

    .ant-collapse-content {
      margin-left: 7px !important;
    }

    .ant-collapse-content-box {
      padding-bottom: 0px !important;
    }
  }
}