.forbiddenWrapper {
  padding-top: 40px;
  height: 100vh;
  text-align: center;
  background-color: var(--primary-bg-color);
}

.forbiddenTitle {
  color: var(--white-text-color) !important;
}

.forbiddenButton {
  text-decoration: none;
}