.knowledgeTitle {
  color: var(--white-text-color) !important;
}

.knowledgeContentWrapper {
  border-radius: 12px;
  padding: 20px;
  background-color: var(--gray-bg-color);
  font: var(--font-m);
  color: var(--white-text-color);
}