.solutionFileListItemWrapper {
  min-width: 100%;
  background-color: var(--gray-bg-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
}

.solutionFileListItemTitle {
  font: var(--font-l);
  color: var(--white-text-color);
}

.solutionFileListItemDescriptionWrapper {
  display: flex;
  align-items: start;
  gap: 10px;
  font: var(--font-ml);
  color: var(--white-text-color);
}