.markdownEditorWpapper {
  :global {
    background-color: var(--gray-bg-color);
    border: 1px solid var(--white-bg-color) !important;

    .w-md-editor-toolbar {
      background-color: var(--gray-bg-color);
      border-color: var(--white-bg-color) !important;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      [data-name="fullscreen"],
      [data-name="edit"],
      [data-name="live"],
      [data-name="preview"],
      [data-name="checked-list"] {
        display: none;
      }

      button {
        position: relative;
        font-family: inherit;

        &:hover::after {
          content: attr(title);
          position: absolute;
          bottom: -25px;
          left: 50%;
          transform: translateX(-50%);
          background-color: var(--black-bg-color);
          color: var(--white-text-color);
          padding: 4px 8px;
          border-radius: 4px;
          font: var(--font-s);
          white-space: nowrap;
          z-index: var(--tooltip-z-index);
        }
      }
    }

    .w-md-editor-text {
      background-color: var(--gray-bg-color);
      color: var(--white-text-color) !important;
      font-family: inherit;
    }

    .wmde-markdown-color {
      background-color: transparent !important;
      color: var(--white-text-color) !important;
      font-family: inherit;
    }

    .w-md-editor-text-pre>code,
    .w-md-editor-text-input {
      color: var(--white-text-color) !important;
      font-family: inherit;
    }

    .w-md-editor-toolbar button {
      color: var(--white-text-color);
    }

    .w-md-editor-toolbar button:hover {
      color: var(--purple-bg-color);
    }

    .w-md-editor-text-input {
      caret-color: var(--white-text-color);
    }

    .token {

      &.punctuation,
      &.keyword,
      &.operator {
        color: var(--purple-bg-color) !important;
      }
    }
  }
}

.markdownEditorCollapseWrapper {
  margin-top: 10px;
  border-radius: 4px;
}