.solutionFolderWrapper {
  margin-left: 10px;
  display: flex;
  gap: 5px;
  cursor: pointer;
  color: var(--white-text-color);
  font: var(--font-m);
  font-weight: 100;

  &:hover {
    text-decoration: underline;
  }
}

.solutionFolderIcon {
  font: var(--font-m);
}

.solutionFolderWithFileWrapper {
  margin-left: 10px;
}
