.displayedSolutionsFilesListWrapper {
  padding: 20px;
  background-color: var(--primary-bg-color);
  height: 100vh;
}

.displayedSolutionsFilesListTitle {
  color: var(--white-text-color) !important;
}

.displayedSolutionsFilesListGoToAdminPanelButton {
  margin-bottom: 10px;
}

.displayedSolutionsFilesListSearchInput {
  margin-bottom: 20px;
}

.displayedSolutionsFilesListCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.displayedSolutionsFilesListEmptyText {
  font: var(--font-m);
  color: var(--white-text-color);
}

.displayedSolutionsFilesListPaginationWrapper {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.displayedSolutionsFilesListPaginationText {
  display: block;
  margin-bottom: 10px;
  font: var(--font-s);
  color: var(--white-text-color);
}