.adminPanelWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: var(--primary-bg-color);
  min-height: 100vh;

  > * {
    flex-basis: calc(50% - 10px);
  }
}