.zipSolutionFileParserWrapper {
  display: flex;
  background-color: var(--black-bg-color);
}

.zipSolutionFileParserTreeWrapper {
  flex: 1;
  max-width: 25vw;
  height: 100vh;
  border-right: 1px var(--gray-bg-color) solid;
  overflow: scroll;

  &::-webkit-scrollbar {
    width: 3px;
    height: 0;

    &-thumb {
      background-color: var(--gray-bg-color);
    }
  }
}

.zipSolutionFileParserCodeContent {
  overflow: scroll;
  border-top: 1px var(--gray-bg-color) solid;
  width: 75vw;
  height: 100vh;
  background-color: var(--primary-bg-color);
  color: var(--white-text-color);

  &::-webkit-scrollbar {
    width: 3px;
    height: 0;

    &-thumb {
      background-color: var(--gray-bg-color);
    }
  }
}