.textWithLine {
  font: var(--font-m);
  color: var(--white-text-color);
  padding-left: 10px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 80%;
    background-color: var(--purple-bg-color);
    border-radius: 10px;
  }
}

.textWithLineColumn {
  display: flex;
  flex-direction: column;
  gap: 5px;
}