@import './globals.scss';
@import './colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ant-pagination-item {
  &:hover {
    border: 1px solid var(--purple-bg-color) !important;
    background-color: var(--gray-bg-color) !important;
  }

  &.ant-pagination-item-active {
    border: 1px solid var(--purple-bg-color) !important;
  }
}

.ant-card-actions {
  li {
    span {
      &:hover {
        color: var(--purple-bg-color) !important;
      }
    }
  }
}