.adminPanelTableAddButton {
  margin-bottom: 15px;
}

.adminPanelTableEmptyTableText {
  :global(.ant-table-cell) {
    color: var(--white-text-color) !important;
  }
}

.adminPanelTableActionsWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 10px;
}

.adminPanelTableActionText {
  color: var(--white-text-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: var(--purple-text-color);
  }
}