.knowledgeCardButton {
  margin-top: 10px;
}

.knowledgeCardEmptyText {
  font: var(--font-m);
  color: var(--white-text-color);
}

.knowledgeCardPaginationWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
