.theoreticalTestHistoryTitle {
  font: var(--font-m);
  color: var(--white-text-color) !important;
}

.theoreticalTestHistoryWrapper {
  margin-top: 15px;
}

.theoreticalTestHistoryPaginationWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}