.theoreticalTestingCardPaginationWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.theoreticalTestingCardEmptyText {
  font: var(--font-m);
  color: var(--white-text-color);
}